@font-face{
	font-family: bt;
	src:url(NeueHaasGrotDispRD-Light.otf);
}


body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: black;
	margin:0pt;
	padding: 0pt;
}

#black{
	position: absolute;
	left: 0;
	top: 0;
	width: 2000pt;
	height: 1000pt;
	background-color: black;
	opacity: 0;
	animation-name: disa;
	animation-duration: 4s;
	animation-iteration-count: 1: 
}

@keyframes disa{
	0%{opacity: 1;}
	100%{opacity: 0;}
}

/*img*/
#star1, #star2{
		display: inline;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
}

	#star1{
				animation-name: flic;
				animation-iteration-count: infinite;
				animation-delay: 2s;
				animation-duration: 10s;
				opacity: 0;
				filter: blur(0.1pt);
	}
	@keyframes flic{
				0% {opacity: 0;}
				60%{opacity: 0.6;}
				100%{opacity: 0;}
	}

	#star2{
				animation-name: flicb;
				animation-iteration-count: infinite;
				animation-delay: 3.5s;
				animation-duration: 10s;
				opacity: 0.6;
				filter: blur(0.1pt);
	}
	@keyframes flicb{
				0% {opacity: 0.6;}
				40%{opacity: 0;}
				100%{opacity: 0.6;}
	}

.l1,.l2,.l3,.l4,.l5{
	color: white;
	font-family: bt;
	font-size: 14pt;
	letter-spacing: 1pt;
	animation-name: app;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	opacity: 1;
}
@keyframes app{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.l1s{

}

/*text*/
	span{
		opacity: 0;
		position: relative;
		filter: blur(5pt);
	}

	.w1{
		left: 6pt;
		top: 1pt;
	}

	.w2{
		left: 8pt;
		top: -1.5pt;
	}

	.w3{
		left: 8pt;
		top: -1pt;
	}

	.w4{
		left: 8pt;
		top: -3pt;
	}

	.w5{
		left: 8pt;
		top: -2pt;
	}

a:hover +span{
	opacity: 1;
	filter: none;
	transition: 0.3s;
}

/*level1*/
	.l1s{
		width: 7pt;
	}

	#l11{
		position: absolute;
		left: 161pt;
		top: 120pt;
	}

	#l12{
		position: absolute;
		left: 572pt;
		top: 341pt;
	}

	#l13{
		position: absolute;
		left: 819pt;
		top: 291pt;
	}

	#l14{
		position: absolute;
		left: 348pt;
		top: 512pt;
	}

	#l15{
		position: absolute;
		left: 1132pt;
		top: 402pt;
	}

/*level2*/
	.l2s{
		width: 11pt;
	}

	#l21{
		position: absolute;
		left: 383pt;
		top: 20pt;
	}

	#l22{
		position: absolute;
		left: 72pt;
		top: 432pt;
	}

	#l23{
		position: absolute;
		left: 1019pt;
		top: 191pt;
	}

	#l24{
		position: absolute;
		left: 713pt;
		top: 582pt;
	}

	#l25{
		position: absolute;
		left: 512pt;
		top: 312pt;
	}

/*level3*/
	.l3s{
		width: 12pt;
	}

	#l31{
		position: absolute;
		left: 313pt;
		top: 220pt;
	}

	#l32{
		position: absolute;
		left: 1172pt;
		top: 112pt;
	}

	#l33{
		position: absolute;
		left: 419pt;
		top: 381pt;
	}

	#l34{
		position: absolute;
		left: 913pt;
		top: 475pt;
	}

	#l35{
		position: absolute;
		left: 662pt;
		top: 82pt;
	}

/*level4*/
	.l4s{
		width: 15pt;
	}

	#l41{
		position: absolute;
		left: 23pt;
		top: 280pt;
	}

	#l42{
		position: absolute;
		left: 1034pt;
		top: 608pt;
	}

	#l43{
		position: absolute;
		left: 879pt;

		top: 141pt;
	}

	#l44{
		position: absolute;
		left: 493pt;
		top: 535pt;
	}

	#l45{
		position: absolute;
		left: 744pt;
		top: 402pt;
	}

/*level5*/
	.l5s{
		width: 14pt;
	}

	#l51{
		position: absolute;
		left: 253pt;
		top: 338pt;
	}

	#l52{
		position: absolute;
		left: 534pt;
		top: 168pt;
	}

	#l53{
		position: absolute;
		left: 959pt;
		top: 241pt;
	}

	#l54{
		position: absolute;
		left: 299pt;
		top: 568pt;
	}

	#l55{
		position: absolute;
		left: 1154pt;
		top: 482pt;
	}




















#imd{

}