@font-face{
	font-family: ha;
	src:url(m.otf);
}
@font-face{
	font-family: hi;
	src:url(l.otf);
}

html{
	cursor: url('cz.png'),pointer;
}

body{
	background-color: black;
	overflow: hidden;
	font-family: ha;
	margin: 0;
}

.bb{
	position: absolute;
	background-color: white;
	height: 2000pt;
	width: 2.5pt;
	left: 50%;
	transform: translate(-50%);
}

p{
	font-family: hi;
	position: absolute;
	left: 25pt;
	top: 20pt;
	color: white;
	font-size: 10pt;
	letter-spacing: 2pt;
}
.ab{
	font-family: hi;
	position: absolute;
	left: 25pt;
	top: 60pt;
	color: white;
	letter-spacing: 1pt;
	font-size: 9pt;
	line-height: 12pt;
	opacity: 0;
}

p:hover +.ab{
	opacity: 1;
}

/*video{
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}*/

img{
	position: absolute;
	left: 0;
	top: 0;
}

/*item*/
	#scoop{
		width: 91.5pt;
		left: 145pt;
		top: 64.5%;
		opacity: 0;
	}
	#sc{
		width: 91.5pt;
		left: 145pt;
		top: 64.5%;
	}
	#scoopg{
		width: 99pt;
		left: 1005pt;
		top: 64.9%;
		opacity: 0;
	}

	#mug{
		width: 112pt;
		left: 15pt;
		top: 81.75%;
		opacity: 0;
	}
	#mg{
		width: 112pt;
		left: 15pt;
		top: 81.75%;
	}
	#mugg{
		width: 114pt;
		left: 1135pt;
		top: 81.75%;
		opacity: 0;
	}

	#ruler{
		width: 34.7pt;
		left: 222pt;
		top: 46%;
		opacity: 0;
	}
	#ru{
		width: 34.7pt;
		left: 222pt;
		top: 46%;
	}
	#rulerg{
		width: 46pt;
		left: 984pt;
		top: 46%;
		opacity: 0;
	}

	#canopener{
		width: 79.5pt;
		left: 255pt;
		top: 70.5%;
		opacity: 0;
	}
	#co{
		width: 79.1pt;
		left: 255pt;
		top: 70.5%;
	}
	#canopenerg{
		width: 101pt;
		left: 913pt;
		top: 70.6%;
		opacity: 0;
	}

	#snack{
		width: 70pt;
		left: 115pt;
		top: 75.5%;
		opacity: 0;
	}
	#sn{
		width: 70pt;
		left: 115pt;
		top: 75.5%;
	}
	#snackg{
		width: 125pt;
		left: 1040pt;
		top: 75.6%;
		opacity: 0;
	}

	#scissors{
		width: 89pt;
		left: 515pt;
		top: 62.4%;
		opacity: 0;
	}
	#ss{
		width: 89pt;
		left: 515pt;
		top: 62.4%;
	}
	#scissorsg{
		width: 99pt;
		left: 660pt;
		top: 62.6%;
		opacity: 0;
	}

	#notebook{
		width: 258pt;
		left: 325pt;
		top: 51%;
		opacity: 0;
	}
	#nb{
		width: 258pt;
		left: 325pt;
		top: 51%;
	}
	#notebookg{
		width: 260pt;
		left: 670pt;
		top: 51%;
		opacity: 0;
	}

	#cutter{
		width: 15.5pt;
		left: 420pt;
		top: 69.1%;
		opacity: 0;
	}
	#ct{
		width: 15.5pt;
		left: 420pt;
		top: 69.1%;
	}
	#cutterg{
		width: 73pt;
		left: 800pt;
		top: 69%;
		opacity: 0;
	}

	#card{
		width: 73.5pt;
		left: 350pt;
		top: 81%;
		opacity: 0;
	}
	#cr{
		width: 73.5pt;
		left: 350pt;
		top: 81%;
	}
	#cardg{
		width: 73.6pt;
		left: 850pt;
		top: 81%;
		opacity: 0;
	}

	#watch{
		width: 47pt;
		left: 555pt;
		top: 82.3%;
		opacity: 0;
	}
	#wa{
		width: 47pt;
		left: 555pt;
		top: 82.3%;
	}
	#watchg{
		width: 60pt;
		left: 660pt;
		top: 82.3%;
		opacity: 0;
	}

	.wh:hover{
		opacity: 0;
	}
	.wtc:hover #watch{
		opacity: 1;
	}
	.wtc:hover #watchg{
		opacity: 1;
	}
	.wtc:hover #wa{
		opacity: 0;
	}
	.nbk:hover #notebook{
		opacity: 1;
	}
	.nbk:hover #notebookg{
		opacity: 1;
	}
	.nbk:hover #nb{
		opacity: 0;
	}
	.scs:hover #scissors{
		opacity: 1;
	}
	.scs:hover #scissorsg{
		opacity: 1;
	}
	.scs:hover #ss{
		opacity: 0;
	}
	.rlr:hover #ruler{
		opacity: 1;
	}
	.rlr:hover #rulerg{
		opacity: 1;
	}
	.rlr:hover #ru{
		opacity: 0;
	}
	.snck:hover #snack{
		opacity: 1;
	}
	.snck:hover #snackg{
		opacity: 1;
	}
	.snck:hover #sn{
		opacity: 0;
	}
	.car:hover #card{
		opacity: 1;
	}
	.car:hover #cardg{
		opacity: 1;
	}
	.car:hover #cr{
		opacity: 0;
	}
	.cop:hover #canopener{
		opacity: 1;
	}
	.cop:hover #canopenerg{
		opacity: 1;
	}
	.cop:hover #co{
		opacity: 0;
	}
	.cutt:hover #cutter{
		opacity: 1;
	}
	.cutt:hover #cutterg{
		opacity: 1;
	}
	.cutt:hover #ct{
		opacity: 0;
	}
	.sco:hover #scoop{
		opacity: 1;
	}
	.sco:hover #scoopg{
		opacity: 1;
	}
	.sco:hover #sc{
		opacity: 0;
	}
	.mgg:hover #mug{
		opacity: 1;
	}
	.mgg:hover #mugg{
		opacity: 1;
	}
	.mgg:hover #mg{
		opacity: 0;
	}

#la{
	filter: invert(1);
	width: 300pt;
	position: absolute;
	left: 38.4%;
	top: 110pt;
}



.haha{
	display: none;
}
#sciss{
	position: absolute;
	width: 89pt;
	left: 515pt;
	top: 62.4%;
}
#scissg{
	position: absolute;
	width: 99pt;
	left: 660pt;
	top: 62.6%;
}
#noteb{
	position: absolute;
	width: 258pt;
	left: 325pt;
	top: 51%;
}
#notebg{
	position: absolute;
	width: 260pt;
	left: 670pt;
	top: 51%;
}
#watc{
	position: absolute;
	width: 47pt;
	left: 555pt;
	top: 82.3%;
}
#watcg{
	position: absolute;
	width: 60pt;
	left: 660pt;
	top: 82.3%;
}
#rul{
	width: 34.7pt;
	left: 222pt;
	top: 46%;
	position: absolute;
}
#rulg{
	width: 46pt;
	left: 984pt;
	top: 46%;
	position: absolute;
}
#sna{
	position: absolute;
	width: 70pt;
	left: 115pt;
	top: 75.5%;
}
#snag{
	position: absolute;
	width: 125pt;
	left: 1040pt;
	top: 75.6%;
}
#c{
	position: absolute;
	width: 73.5pt;
	left: 350pt;
	top: 81%;
}
#cg{
	position: absolute;
	width: 73.6pt;
	left: 850pt;
	top: 81%;
}
#canop{
	position: absolute;
	width: 79.5pt;
	left: 255pt;
	top: 70.5%;
}
#canopg{
	position: absolute;
	width: 101pt;
	left: 913pt;
	top: 70.6%;
}
#cutte{
	position: absolute;
	width: 15.5pt;
	left: 420pt;
	top: 69.1%;
}
#cutteg{
	position: absolute;
	width: 73pt;
	left: 800pt;
	top: 69%;
}
#scoo{
	position: absolute;
	width: 91.5pt;
	left: 145pt;
	top: 64.5%;
}
#scoog{
	position: absolute;
	width: 99pt;
	left: 1005pt;
	top: 64.9%;
}
#m{
	position: absolute;
	width: 112pt;
	left: 15pt;
	top: 81.75%;
}
#mmg{
	position: absolute;
	width: 114pt;
	left: 1135pt;
	top: 81.75%;
}

#lala{
	display: none;
	filter: invert(1);
	width: 350pt;
	position: absolute;
	left: 36.5%;
	top: 80pt;
}

.logo:hover #la{
	display: none;
}
.logo:hover #lala{
	display: inline;
}

.logo:hover .haha{
	display: inline;
}
























