@font-face{
	font-family: haha;
	src:url(NeueHaas25xThin.otf);
}

body{
	overflow: hidden;
	display: inline;
	position: absolute;
}

img{
	z-index: 1000;
}

/*stapler*/
	#stp{
		position: absolute;
		top: 0;
		left: 0;
		width: 365pt;
		height: 273pt;
		border: 0.5pt dashed black;
	}
	#st{
		position: absolute;
		font-size: 45pt;
		font-family: haha;
		letter-spacing: 1pt;
		top: 110pt;
		left: 121pt;
	}
	#stapler{
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		width: 365pt;
	}

/*id*/
	#iddd{
		position: absolute;
		top: 0;
		left: 0;
		border: 0.5pt dashed black;
		width: 460pt;
		height: 693.6pt;
	}

	#idddd{
		position: absolute;
		font-size: 45pt;
		font-family: haha;
		letter-spacing: 1pt;
		left: 142pt;
		top: 327pt;
	}

	#idd{
		position: absolute;
		left: 0;
		top: 0;
		width: 460pt;
		opacity: 0;
	}

/*pencase*/
	#case{
		position: absolute;
		top: 0;
		left: 0;
		width: 810.5pt;
		height: 261pt;
		border: 0.5pt dashed black;
	}

	#pc{
		position: absolute;
		font-size: 45pt;
		font-family: haha;
		letter-spacing: 1pt;
		left: 323pt;
		top: 102.5pt;
	}

	#pencase{
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		width: 810pt;
	}

/*scissors*/
	#sci{
		position: absolute;
		top: 0;
		left: 0;
		width: 370pt;
		height: 543pt;
		border: 0.5pt dashed black;
	}
	#scis{
		position: absolute;
		font-size: 45pt;
		font-family: haha;
		letter-spacing: 1pt;
		left: 109pt;
		top: 244pt;
	}
	#scissors{
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		width: 370pt;
	}

/*umbrella*/
	#umb{
		position: absolute;
		top: 0;
		left: 0;
		width: 1000pt;
		height: 358pt;
		border: 0.5pt dashed black;
	}
	#umbr{
		position: absolute;
		font-size: 45pt;
		font-family: haha;
		letter-spacing: 1pt;
		left: 423pt;
		top: 158pt;
	}
	#umbrella{
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		width: 1000pt;
	}

/*beats*/
	#bt{
		position: absolute;
		top: 0;
		left: 0;
		width: 600.5pt;
		height: 395pt;
		border: 0.5pt dashed black;
	}

	#hdp{
		position: absolute;
		font-size: 45pt;
		font-family: haha;
		letter-spacing: 1pt;
		left: 200pt;
		top: 175pt;
	}

	#head{
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		width: 600pt;
	}

/*schedule*/
	#sch{
		position: absolute;
		top: 0;
		left: 0;
		width: 850pt;
		height: 580pt;
		border: 0.5pt dashed black;
	}

	#schd{
		position: absolute;
		font-size: 45pt;
		font-family: haha;
		letter-spacing: 1pt;
		left: 341pt;
		top: 264pt;
	}

	#schedule{
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		width: 850pt;
	}

#ct{
	position: absolute;
	top: 0;
	left: 0;
	width: 620pt;
	height: 220pt;
	border: 0.5pt dashed black;
}

#cut{
	position: absolute;
	font-size: 45pt;
	font-family: haha;
	letter-spacing: 1pt;
	left: 260pt;
	top: 85pt;
}

#cutter{
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	width: 620pt;
}

@media screen and (min-width: 375pt) and (max-width: 378pt) and (min-height: 283pt) and (max-height: 285pt){
	#stapler{
		opacity: 1;
	}
}
@media screen and (min-width: 471pt) and (max-width: 474pt) and (min-height: 705pt) and (max-height: 708pt){
	#idd{
		opacity: 1;
	}
}
@media screen and (min-width: 822pt) and (max-width: 824pt) and (min-height: 272pt) and (max-height: 275pt){
	#pencase{
		opacity: 1;
	}
}
@media screen and (min-width: 382pt) and (max-width: 384pt) and (min-height: 555pt) and (max-height: 557pt){
	#scissors{
		opacity: 1;
	}
}
@media screen and (min-width: 1010pt) and (max-width: 1013pt) and (min-height: 370pt) and (max-height: 373pt){
	#umbrella{
		opacity: 1;
	}
}
@media screen and (min-width: 612pt) and (max-width: 614pt) and (min-height: 406pt) and (max-height: 409pt){
	#head{
		opacity: 1;
	}
}
@media screen and (min-width: 861pt) and (max-width: 864pt) and (min-height: 591pt) and (max-height: 594pt){
	#schedule{
		opacity: 1;
	}
}
@media screen and (min-width: 631pt) and (max-width: 634pt) and (min-height: 231pt) and (max-height: 234pt){
	#cutter{
		opacity: 1;
	}
}

#title{
	position: absolute;
	font-family: haha;
	font-size: 60pt;
	writing-mode: vertical-rl;
	letter-spacing: 2pt;
	left: 1045pt;
	top: 5pt;
}
