* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* cursor: url("img/move.png") 50 50, move !important; */
}

.selected {
  /* filter: saturate(0.75); */
  z-index: 20000;
}

.draggable {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.85) 0 0 35px;
  background-repeat: no-repeat;
  background-size: 100vw;
  cursor: move !important;
/*  cursor: url("img/move.png") 50 50, move !important;
*/  filter: saturate(0.75);
  overflow: hidden;
  transition: filter ease-out 0.25s;
  /* transform: scale(0.85); */
}

.simg {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.85) 0 0 25px;
  background-repeat: no-repeat;
  background-size: 100vw;
  filter: saturate(0.75);
}

#shb1 {
  left: 0;
  top: 0;
  width: 100vw;
  height: 10vh;
  background-image: url(img/sh2.png);
  background-position-x: 0;
  background-position-y: 0;
}
#shb2 {
  left: 0;
  top: 30vh;
  width: 100vw;
  height: 10vh;
  background-image: url(img/sh3.png);
  background-position-x: 0;
  background-position-y: -30vh;
}
#shb3 {
  left: 0;
  top: 50vh;
  width: 100vw;
  height: 10vh;
  background-image: url(img/sh1.png);
  background-position-x: 0;
  background-position-y: -50vh;
}
#shb4 {
  left: 0;
  top: 80vh;
  width: 100vw;
  height: 10vh;
  background-image: url(img/sh2.png);
  background-position-x: 0;
  background-position-y: -80vh;
}
#shb5 {
  left: 10vh;
  top: 0;
  width: 10vh;
  height: 100vh;
  background-image: url(img/sh4.png);
  background-position-x: -10vh;
  background-position-y: 0;
}
#shb6 {
  left: 40vh;
  top: 0;
  width: 10vh;
  height: 100vh;
  background-image: url(img/sh1.png);
  background-position-x: -40vh;
  background-position-y: 0;
}
#shb7 {
  left: 80vh;
  top: 0;
  width: 10vh;
  height: 100vh;
  background-image: url(img/sh1.png);
  background-position-x: -80vh;
  background-position-y: 0;
}
#shb8 {
  left: 110vh;
  top: 0;
  width: 10vh;
  height: 100vh;
  background-image: url(img/sh3.png);
  background-position-x: -110vh;
  background-position-y: 0;
}
#shb9 {
  left: 140vh;
  top: 0;
  width: 10vh;
  height: 100vh;
  background-image: url(img/sh2.png);
  background-position-x: -140vh;
  background-position-y: 0;
}
#shb10 {
  left: 160vh;
  top: 0;
  width: 10vh;
  height: 100vh;
  background-image: url(img/sh4.png);
  background-position-x: -160vh;
  background-position-y: 0;
}

#bjb1 {
  left: 0;
  top: 20vh;
  width: 100vw;
  height: 10vh;
  background-image: url(img/bj4.png);
  background-position-x: 0;
  background-position-y: -20vh;
}
#bjb2 {
  left: 0;
  top: 60vh;
  width: 100vw;
  height: 10vh;
  background-image: url(img/bj3.png);
  background-position-x: 0;
  background-position-y: -60vh;
}
#bjb3 {
  left: 0;
  top: 90vh;
  width: 100vw;
  height: 10vh;
  background-image: url(img/bj1.png);
  background-position-x: 0;
  background-position-y: -90vh;
}
#bjb4 {
  left: 0;
  top: 0;
  width: 10vh;
  height: 100vh;
  background-image: url(img/bj2.png);
  background-position-x: 0;
  background-position-y: 0;
}
#bjb5 {
  left: 60vh;
  top: 0;
  width: 10vh;
  height: 100vh;
  background-image: url(img/bj1.png);
  background-position-x: -60vh;
  background-position-y: 0;
}
#bjb6 {
  left: 90vh;
  top: 0;
  width: 10vh;
  height: 100vh;
  background-image: url(img/bj2.png);
  background-position-x: -90vh;
  background-position-y: 0;
}
#bjb7 {
  left: 120vh;
  top: 0;
  width: 10vh;
  height: 100vh;
  background-image: url(img/bj4.png);
  background-position-x: -120vh;
  background-position-y: 0;
}
#bjb8 {
  left: 170vh;
  top: 0;
  width: 10vh;
  height: 100vh;
  background-image: url(img/bj3.png);
  background-position-x: -170vh;
  background-position-y: 0;
}

#ktb1 {
  width: 100vw;
  height: 10vh;
  left: 0;
  top: 10vh;
  background-image: url(img/kt2.png);
  background-position-x: 0;
  background-position-y: -10vh;
}
#ktb2 {
  width: 100vw;
  height: 10vh;
  left: 0;
  top: 70vh;
  background-image: url(img/kt3.png);
  background-position-x: 0;
  background-position-y: -70vh;
}
#ktb3 {
  width: 10vh;
  height: 100vh;
  left: 20vh;
  top: 0;
  background-image: url(img/kt5.png);
  background-position-x: -20vh;
  background-position-y: 0;
}
#ktb4 {
  width: 10vh;
  height: 100vh;
  left: 50vh;
  top: 0;
  background-image: url(img/kt3.png);
  background-position-x: -50vh;
  background-position-y: 0;
}
#ktb5 {
  width: 10vh;
  height: 100vh;
  left: 100vh;
  top: 0;
  background-image: url(img/kt1.png);
  background-position-x: -100vh;
  background-position-y: 0;
}
#ktb6 {
  width: 10vh;
  height: 110vh;
  left: 130vh;
  top: -0.5vh;
  background-image: url(img/kt4.png);
  background-position-x: -130vh;
  background-position-y: 0;
}

#nhb1 {
  width: 100vw;
  height: 10vh;
  left: 0;
  top: 40vh;
  background-image: url(img/nh1.png);
  background-position-x: 0;
  background-position-y: -40vh;
}
#nhb2 {
  width: 10vh;
  height: 100vh;
  left: 150vh;
  top: 0;
  background-image: url(img/nh2.png);
  background-position-x: -150vh;
  background-position-y: 0;
}
#nhb3 {
  width: 10vh;
  height: 100vh;
  left: 70vh;
  top: 0;
  background-image: url(img/nh3.png);
  background-position-x: -70vh;
  background-position-y: 0;
}
#nhb4 {
  width: 10vh;
  height: 100vh;
  left: 30vh;
  top: 0;
  background-image: url(img/nh1.png);
  background-position-x: -30vh;
  background-position-y: 0;
}

.current {
  display: block;
}
.hide {
  display: none;
}

@font-face {
  font-family: lala;
  src: url("font/MillionaireRoman.otf");
}
@font-face {
  font-family: xixi;
  src: url("font/minchao.ttc");
}

#back {
  width: 3vw;
  position: absolute;
  margin: 0.5vh;
  cursor: pointer;
  mix-blend-mode: difference;
  opacity: 0.95;
}
#back img {
  width: 100%;
}
#up {
  width: 2.8vw;
  position: absolute;
  margin: 0.5vh;
  margin-top: 0.1vh;
  cursor: pointer;
  mix-blend-mode: difference;
  opacity: 0.95;
}
#up img {
  width: 100%;
}
#drag {
  width: 1.5vw;
  position: absolute;
  margin-right: -0.4vh;
  margin-bottom: -0.9vh;
  mix-blend-mode: difference;
  opacity: 0.95;
}
#drag img {
  width: 100%;
}

.draggable .mv {
  left: 0;
  top: 0;
  position: absolute;
  width: 100vw;
}

.draggable .colorb {
  left: 0;
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.icon {
  position: absolute;
  top: 91.5vh;
  transform: translateX(-50%);
  z-index: 10000;
  vertical-align: center;
  opacity: 0.85;
  cursor: pointer;
}

#str,
#home {
  position: absolute;
  display: inline-block;
  width: 3.5vw;
  vertical-align: center;
  cursor: pointer;
  z-index: 101000;
}
#str {
  left: 50vw;
  transform: translate(-50%);
}

#home {
  left: 50vw;
  transform: translate(-50%);
  display: none;
}
.icon img {
  width: 100%;
  vertical-align: center;
}

#nh1 {
  width: 40vw;
  height: 42vh;
  left: 54vw;
  top: -1vh;
  background-image: url(img/nh1.png);
  background-position-x: -54vw;
  background-position-y: 1vh;
}
#nh2 {
  width: 34vw;
  height: 30vh;
  left: 59.5vw;
  top: 68vh;
  background-image: url(img/nh2.png);
  background-position-x: -59.5vw;
  background-position-y: -68vh;
}
#nh3 {
  width: 33vw;
  height: 45vh;
  left: 13vw;
  top: 20vh;
  background-image: url(img/nh3.png);
  background-position-x: -13vw;
  background-position-y: -20vh;
}

#bj1 {
  width: 16vw;
  height: 58vh;
  left: 16vw;
  top: 24vh;
  background-image: url(img/bj1.png);
  background-position-x: -16vw;
  background-position-y: -24vh;
}
#bj2 {
  width: 37vw;
  height: 28vh;
  left: 2vw;
  top: 72vh;
  background-image: url(img/bj2.png);
  background-position-x: -2vw;
  background-position-y: -72vh;
}
#bj3 {
  width: 35vw;
  height: 30vh;
  left: 63vw;
  top: 51.5vh;
  background-image: url(img/bj3.png);
  background-position-x: -63vw;
  background-position-y: -51.5vh;
}
#bj4 {
  width: 22vw;
  height: 45vh;
  left: 55vw;
  top: 23.5vh;
  background-image: url(img/bj4.png);
  background-position-x: -52vw;
  background-position-y: -23.5vh;
}

#sh1 {
  width: 40vw;
  height: 45vh;
  left: 30vw;
  top: 42vh;
  background-image: url(img/sh1.png);
  background-position-x: -30vw;
  background-position-y: -42vh;
}
#sh2 {
  width: 39.5vw;
  height: 47vh;
  left: 0;
  top: 0;
  background-image: url(img/sh2.png);
  background-position-x: 0;
  background-position-y: 0;
}
#sh3 {
  width: 16vw;
  height: 65vh;
  left: 84vw;
  top: 5vh;
  background-image: url(img/sh3.png);
  background-position-x: -84vw;
  background-position-y: -5vh;
}
#sh4 {
  width: 15.5vw;
  height: 32vh;
  left: 72vw;
  top: 13vh;
  background-image: url(img/sh4.png);
  background-position-x: -72vw;
  background-position-y: -13vh;
}

#kt1 {
  width: 12vw;
  height: 37vh;
  left: 31vw;
  top: 38vh;
  background-image: url(img/kt1.png);
  background-position-x: -31vw;
  background-position-y: -38vh;
}
#kt2 {
  width: 16vw;
  height: 49vh;
  left: 45vw;
  top: 1.5vh;
  background-image: url(img/kt2.png);
  background-position-x: -45vw;
  background-position-y: -1.5vh;
}
#kt3 {
  width: 13vw;
  height: 33vh;
  left: 5vw;
  top: 51vh;
  background-image: url(img/kt3.png);
  background-position-x: -5vw;
  background-position-y: -51vh;
}
#kt4 {
  width: 12vw;
  height: 16vh;
  left: 75vw;
  top: 48vh;
  background-image: url(img/kt4.png);
  background-position-x: -75vw;
  background-position-y: -48vh;
}
#kt5 {
  width: 19.5vw;
  height: 22vh;
  left: 39vw;
  top: 73.5vh;
  background-image: url(img/kt5.png);
  background-position-x: -39vw;
  background-position-y: -73.5vh;
}
