@font-face {
  font-family: bruce;
  src: url(b16.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: bruce;
  cursor: default;
}

body {
  background-color: black;
  overflow-y: hidden;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body::-webkit-scrollbar {
  display: none;
}

#out {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(sky/sky1.png);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px);
}

#black-sc {
  position: absolute;
  width: 100vw;
  height: 200%;
  top: 0;
}

#black {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: black;
}

.intro {
  position: fixed;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -54%);
  text-align: center;
}

.blurry {
  letter-spacing: 1px;
  line-height: 150%;
  color: transparent;
  text-shadow: 0 0 0px white;
}

.prompt {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  letter-spacing: 1px;
  bottom: 3vh;
  color: transparent;
  text-shadow: 0 0 0px white;
  cursor: pointer;
}

#start {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #out {
    width: 300px;
    height: 480px;
    border-radius: 150px;
    box-shadow: 0 0 55px 30px #ffffff73, 0 0 18px 4px #ffffff73,
      inset 0 0 42px 4px #ffffff9c;
  }
  .blurry {
    font-size: 23px;
  }
  .prompt {
    font-size: 14px;
  }
  .intro {
    width: 90%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #out {
    width: 420px;
    height: 650px;
    border-radius: 185px;
    box-shadow: 0 0 55px 30px #ffffff73, 0 0 18px 4px #ffffff73,
      inset 0 0 42px 4px #ffffff9c;
  }
  .blurry {
    font-size: 35px;
  }
  .prompt {
    font-size: 20px;
  }
  .intro {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1100px) {
  #out {
    width: 420px;
    height: 650px;
    border-radius: 185px;
    box-shadow: 0 0 55px 30px #ffffff73, 0 0 18px 4px #ffffff73,
      inset 0 0 42px 4px #ffffff9c;
  }
  .blurry {
    font-size: 40px;
  }
  .prompt {
    font-size: 20px;
  }
  .intro {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1441px) {
  #out {
    width: 485px;
    height: 750px;
    border-radius: 220px;
    box-shadow: 0 0 65px 35px #ffffff73, 0 0 25px 5px #ffffff73,
      inset 0 0 50px 5px #ffffff9c;
  }
  .blurry {
    font-size: 50px;
  }
  .prompt {
    font-size: 24px;
  }
  .intro {
    width: 100%;
  }
}
